[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Config files for my GitHub profile.
[access "refs/*"]
	owner = group user/kevinmukuna
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/kevinmukuna
	label-Verified = -1..+1 group user/kevinmukuna
	push = group user/kevinmukuna
	read = group user/kevinmukuna
	rebase = group user/kevinmukuna
	removeReviewer = group user/kevinmukuna
	submit = group user/kevinmukuna
[access "refs/heads/*"]
	create = group user/kevinmukuna
	push = +force group user/kevinmukuna
	pushMerge = group user/kevinmukuna
	read = group user/kevinmukuna
[access "refs/tags/*"]
	push = group user/kevinmukuna
	push = +force group user/kevinmukuna
